/* Add CE-RISE logo to header */
.md-header__inner::before {
    content: "";
    background-image: url("../../CERISE_RGB-standard-PNG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

/* White background */
[data-md-color-scheme="default"] {
    --md-default-bg-color: #ffffff;
}

.md-main__inner {
    background-color: #ffffff;
}

.md-content {
    background-color: #ffffff;
}
